<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Kwitansi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="kwitansi.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css"> -->

</head>

<body>
    <div id="app">
        <div class="margin">
            <div class="kop row">
                <div class="col-12 text-center">
                    <div class="h1">JAGAT PERSADA</div>
                    <span>Cikarang Barat, Kabupaten Bekasi, Jawa Barat</span>
                </div>
            </div>
            <div class="main">
                <div class="detail">
                    <div class="detail-title mt-2">
                        <h4><u><b>Kwitansi</b></u></h4>
                    </div>
                    <div class="row mt-5 m-2">
                        <div class="col-6">
                            <table>
                                <tr>
                                    <td>Telah diterima dari</td>
                                    <td>:</td>
                                    <td v-text="pembeli"></td>
                                </tr>
                                <tr>
                                    <td>Sejumlah Uang</td>
                                    <td>:</td>
                                    <td>Rp. {{ nomorPemisah(total) }}</td>
                                </tr>
                                <tr>
                                    <td>Terbilang:</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="terbilang">
                                {{ terbilang }} Rupiah
                            </div>
                        </div>
                        <div class="col-6">
                            <table class="float-right">
                                <tr>
                                    <td>No Kwitansi</td>
                                    <td>:</td>
                                    <td><span>{{ generateNoKwitansi() }}</span></td>
                                </tr>
                                <tr>
                                    <td>Tanggal</td>
                                    <td>:</td>
                                    <td><span>{{ tanggalIndo(tanggal, false) }}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <table cellspacing="0" class="detail-table">
                        <thead>
                            <tr class="text-uppercase text-bold">
                                <td class="border-left-0">No.</td>
                                <td>Keterangan</td>
                                <td>Qty</td>
                                <td>Harga</td>
                                <td class="border-right-0">Total Harga</td>
                            </tr>
                        </thead>
                        <!-- perulangan produk -->

                            <tr v-for="(item,index) in barang">
                                <td class="border-left-0">{{ index+1 }}</td>
                                <td>{{ item.nama }}</td>
                                <td>{{ item.qty }}</td>
                                <td>
                                    <span class="float-left ml-3">Rp.</span>
                                    <span class="float-right mr-2">{{ nomorPemisah(item.harga) }}</span>
                                    
                                </td>
                                <td class="border-right-0">
                                    <span class="float-left ml-3">Rp.</span>
                                    <span class="float-right mr-2">{{ nomorPemisah(item.harga*item.qty) }}</span>
                                </td>
                            </tr>

                        <!-- keterangan total -->
                        <tr>
                            <td colspan="3" rowspan="3" class="border-left-0"></td>
                            <td class="text-center">Total</td>
                            <td class="border-right-0">
                                <span class="float-left ml-3">Rp.</span>
                                <span class="float-right mr-2">{{ nomorPemisah(total) }}</span>
                            </td>
                        </tr>
                    </table>
                    <div class="row mt-5">
                        <div class="col-8"></div>
                        <div class="col-4 text-center mb-5">
                            <span class="h5">
                                Bekasi, {{ tanggalIndo(tanggal) }}
                            </span> <br>
                            <img src="ttd.jpg" style="width: 50%; margin-top: -1%; opacity: 0.95;"> <br>
                            <span class="h4">Jagat Persada</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 form">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Form</h5>
                        <button class="btn btn-primary btn-sm float-right" @click="addBarang()">tambah barang</button>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="Pembeli">Pembeli</label>
                            <input class="form-control" type="text" v-model="pembeli" id="Pembeli">
                        </div>
                        <div class="form-group">
                            <label for="tanggal">tanggal</label>
                            <input class="form-control" type="date" v-model="tanggal" id="tanggal">
                        </div>
                        <div class="form-row mb-2" v-for="(el, i) in barang">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nama</span>
                                    </div>
                                    <input class="form-control" type="text" v-model="barang[i].nama" placeholder="nama barang" value="el.nama">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Qty</span>
                                    </div>
                                    <input class="form-control" type="text" v-model="barang[i].qty" placeholder="Qty" value="el.qty">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Harga</span>
                                    </div>
                                    <input class="form-control" type="number" v-model="barang[i].harga" placeholder="harga" value="el.harga">
                                </div>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-danger btn-sm" @click="removeBarang(i)">hapus</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                            <button class="btn btn-success" @click="printLabel()" v-if="ok">Print</button>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                    pembeli: '',
                    tanggal: '2023-04-22',
                    atasNama: 'Jagat Persada',
                    barang: [{nama:'', harga: null, qty: null}],
                    ok: true
                    
            },
            methods: {
                generateTanggal(){
                    let date = new Date()
                    let today = new Date();
                    let dd = String(today.getDate()).padStart(2, '0');
                    let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    let yyyy = today.getFullYear();
                    return `${yyyy}-${mm}-${dd}`
                    this.tanggal = `${yyyy}-${mm}-${dd}`
                    console.log(`${yyyy}-${mm}-${dd}`)
                },

                generateNoKwitansi(){
                    let string = this.tanggal.split('-')
                    string = string.join('').substr(2,6)
                    let random = Math.floor(Math.random() * 100)
                    return `JP${string}${String(random)}` 
                },

                addBarang(){
                    this.barang.push({nama:'', harga: null})
                },

                removeBarang(index){
                    this.barang.splice(index,1)
                },

                nomorPemisah(x) {
                    return String(x).replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
                },

                tanggalIndo(date, as){
                    date = new Date(date)
                    let month = ["Januari",'Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
                    let day = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis',"Jum'at", "Sabtu"]
                    let hari = date.getDay()
                    let tanggal = date.getDate()
                    let bulan = date.getMonth()
                    let tahun = date.getFullYear()

                    if(as) return `${day[hari]}, ${tanggal} ${month[bulan]} ${tahun}`
                    else return `${tanggal} ${month[bulan]} ${tahun}`
                },
                pembilang: function(nilai) {
                    nilai = Math.floor(Math.abs(nilai));
                    
                    let simpanNilaiBagi = 0;
                    let huruf = [ '', 'Satu','Dua','Tiga','Empat','Lima','Enam','Tujuh','Delapan','Sembilan','Sepuluh','Sebelas']
                    let temp = '';
                    
                    if (nilai < 12) {
                        temp = ' ' + huruf[nilai];
                    } else if (nilai < 20) {
                        temp = this.pembilang(Math.floor(nilai - 10)) + ' Belas';
                    } else if (nilai < 100) {
                        simpanNilaiBagi = Math.floor(nilai / 10);
                        temp = this.pembilang(simpanNilaiBagi) + ' Puluh' + this.pembilang(nilai % 10);
                    } else if (nilai < 200) {
                        temp = ' Seratus' + this.pembilang(nilai - 100);
                    } else if (nilai < 1000) {
                        simpanNilaiBagi = Math.floor(nilai / 100);
                        temp = this.pembilang(simpanNilaiBagi) + ' Ratus' + this.pembilang(nilai % 100);
                    } else if (nilai < 2000) {
                        temp = ' Seribu' + this.pembilang(nilai - 1000);
                    } else if (nilai < 1000000) {
                        simpanNilaiBagi = Math.floor(nilai / 1000);
                        temp = this.pembilang(simpanNilaiBagi) + ' Ribu' + this.pembilang(nilai % 1000);
                    } else if (nilai < 1000000000) {
                        simpanNilaiBagi = Math.floor(nilai / 1000000);
                        temp = this.pembilang(simpanNilaiBagi) + ' Juta' + this.pembilang(nilai % 1000000);
                    } else if (nilai < 1000000000000) {
                        simpanNilaiBagi = Math.floor(nilai / 1000000000);
                        temp =
                        this.pembilang(simpanNilaiBagi) + ' Miliar' + this.pembilang(nilai % 1000000000);
                    } else if (nilai < 1000000000000000) {
                        simpanNilaiBagi = Math.floor(nilai / 1000000000000);
                        temp = this.pembilang(nilai / 1000000000000) + ' Triliun' + this.pembilang(nilai % 1000000000000);
                    }
                    
                    return temp
                    },

                    okchange(){
                        this.ok = !this.ok
                    },

                    printLabel(){
                        this.okchange()
                        setTimeout(()=> window.print(),200)
                        window.addEventListener('afterprint',()=>this.ok=true)
                        }
                
            },
            computed: {    
                    total() {
                        let total = this.barang.map( el => {return el.harga * el.qty})
                        return total.reduce((total, num)=> {return total + num})
                    },
                    terbilang(){
                        return this.pembilang(this.total)
                    }

            }

        })
    </script>
</body>

</html>