body .margin {
    width: 98%;
    margin: auto;
    font-size: 115%;
    font-family: 'Times New Roman';
}

.main {
    position: relative;
    width: 90%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.kop {
    font-family: 'Times New Roman';
}

.kop img {
    width: 100%;
}

.header-surat {
    font-size: 100%;
    width: 100%;
}

.right {
    text-align: right;
}

/* .header-surat table tr {
    padding: 0.5%;
    width: 100%;
} */


.detail {
    border: black solid 2px;
}

.detail-title {
    text-align: center;
    text-decoration: underline;
    /* font-weight: bold; */
}

#logo {
    width: 50%;
}

.cap-surat-kiri {
    width: 25%;
    float: left;
    margin-left: 2%;
}

.cap-surat-kanan {
    width: 25%;
    float: right;
}

.cap-surat {
    text-align: center;

}

.cap-surat img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jarak {
    margin-top: 10%;
}

ol li {
    margin-top: 0.5%;
}

/* tabel detail */
.detail-table {
    width: 100%;
    /* margin-top: 1px; */
    /* border: black 1px solid; */
    margin-bottom: 3px;
}

.detail-table thead {
    font-weight: bold;
}

.detail-table td {
    border: 1px black solid;
    padding: 1px;
    text-align: center;
}

/* keterangan akhir */
.keterangan {
    float: left;
    width: 50%;
    border-bottom: 2px solid black;
}



.terbilang {
    /* display: inline; */
    border: 2px solid black;
    padding: 0.4% 0.8%;
    font-style: italic;
    font-weight: bold;
    width: 100%;
}

/* Notes */

.notes {
    width: 100%;
    /* border-top: 2px solid black; */
    border-bottom: 2px solid black;
}
.notes ol li{
    padding: 0px;
    margin: -5px;
}

hr.nama {
    border-top: 2px solid black;
    margin-left: 15%;
    margin-right: 10%;
}

@page {size: landscape;}
@media print {
    .form {
        display: none;
    }
}